{% include "user_header.html" %}
{% extends "layout.html" %}
{% block head %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <title>Audit Trail</title>
    <style>
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
</head>
{% endblock %}
{% block body %}
<body>
    <div class="container-fluid mt-3">
        <a href="/rules" class="btn btn-secondary mb-3">Back to rule list</a>
        <h1>Audit Trail</h1>

        <div class="row">
            <div class="col-md-12">
                <h2>Rule History</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Rule ID</th>
                            <th>Description</th>
                            <th>Changed</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in rule_history %}
                        <tr>
                            <td>{{ entry.version }}</td>
                            <td>{{ entry.rid }}</td>
                            <td>{{ entry.description[:100] }}{% if entry.description|length > 100 %}...{% endif %}</td>
                            <td>{{ entry.changed }}</td>
                            <td>{{ entry.operation_type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Configuration History</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Label</th>
                            <th>Changed</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in config_history %}
                        <tr>
                            <td>{{ entry.version }}</td>
                            <td>{{ entry.label }}</td>
                            <td>{{ entry.changed }}</td>
                            <td>{{ entry.operation_type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}