{% include "user_header.html" %}
{% extends "layout.html" %}
{% block head %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeTabCapture("{{ form.logic.id }}");
            $("#logic").on("input", fillInExampleParams)
            $("#submit_test").on("click", function () {
                testRuleWithSampleJson($("#logic").val(), $("#verify_json").val())
            })
            fillInExampleParams(null)
            updateTextareaSize("{{ form.logic.id }}")
            const url = new URL(window.location.href);
            const pathParts = url.pathname.split('/');
            const lastPart = parseInt(pathParts[pathParts.length - 1]);
            $("#submit_backtest").on("click", function () {
                submitBackTest($("#logic").val(), lastPart)
            })
            get_backtesting_results(lastPart, '#backtesting_results')
        });
    </script>
    <title>Rule {{ rule['rid'] }}</title>
    <style>
        .card {
            margin-top: 20px;
        }

        .table th {
            text-align: center;
        }
    </style>
</head>
{% endblock %}
{% block body %}
{% from 'bootstrap5/form.html' import render_form %}

<body>
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/rules">All Rules</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rule {{ rule['rid'] }}</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rule Details</h5>
                        {{ render_form(form) }}
                        <button id="submit_backtest" class="btn btn-primary w-30">Backtest this change</button>
                    </div>
                </div>

                {% if revision_list | length >= 1 %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Other rule versions</h5>
                        <ul class="list-group list-group-flush">
                            <a href="/rule/{{ rule['r_id'] }}" class="btn btn-secondary mt-3">Go to latest version</a>
                            {% for rev in revision_list %}
                            <li class="list-group-item">
                                <a href="/rule/{{ rule['r_id'] }}/{{ rev.revision_number }}">Revision {{
                                    rev.revision_number }} created
                                    at {{ rev.created.strftime('%Y-%m-%d %H:%M:%S') }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="/rule/{{ rule['r_id'] }}/timeline" class="btn btn-link mt-2">Visualize changes</a>
                    </div>
                </div>

                {% endif %}
            </div>

            <div class="col-md-6">
                <div class="card" id="testing-card" style="margin-bottom: 20;">
                    <div class="card-body">
                        <h5 class="card-title">Test Rule</h5>
                        <textarea class="form-control mb-3" id="verify_json" style="width: 100%;"></textarea>
                        <button id="submit_test" class="btn btn-primary w-100">Test rule</button>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="backtesting-tab" data-bs-toggle="tab" data-bs-target="#backtesting"
                            type="button" role="tab" aria-controls="backtesting" aria-selected="true">Backtesting</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="performance-tab" data-bs-toggle="tab" data-bs-target="#performance"
                            type="button" role="tab" aria-controls="performance" aria-selected="false">Performance</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="backtesting" role="tabpanel" aria-labelledby="backtesting-tab">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Action rates</h5>
                                <ul class="list-group list-group-flush" id="backtesting_results">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Precision and recall</h5>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
        </div>
    </div>
</body>
{% endblock %}