<head>
    <script src="{{ url_for('static', filename="scripts.js") }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeTabCapture("{{ form.logic.id }}");
        });
    </script>
    <title>Create new rule</title>
</head>
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    Create a new rule
{% endblock %}


{% block content %}
    <a href="/rules">Full rule list</a>
    {{ render_form(form) }}
{% endblock %}