{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block head %}
<head>
    <script src="{{ url_for('static', filename="scripts.js") }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeTabCapture("{{ form.logic.id }}");
        });
    </script>
    <title>Create new rule</title>
</head>
{% endblock %}
{% block body %}
<body>
<a href="/rules">Full rule list</a><br>
Create a new rule
{{ render_form(form) }}
</body>
{% endblock %}