{% extends "layout.html" %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="scripts.js") }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeTabCapture("{{ form.logic.id }}");
            $("#lock_button").click(function () {
                lockRuleForModification("{{ rule['rid'] }}");
            })
            $("#force_unlock_button").click(function () {
                forceUnlockRuleForModification("{{ rule['rid'] }}");
            })
        });
    </script>
    <title>Rule {{ rule['rid'] }}</title>
</head>
{% block body %}
<body>
{% from 'bootstrap5/form.html' import render_form %}
<a href="/rules">Full rule list</a><br>
{% if rule_lock %}
    <span style="color: red; "> This rule is locked by {{ rule_lock.locked_by }} until at least {{ rule_lock.expires_on }}</span>
{% endif %}<br>
<h2 id="page_header">Rule {{ rule['rid'] }}</h2>
<button id="lock_button">Modify this rule</button>
{% if rule_lock %}
    <button id="force_unlock_button">Force unlock the rule(NOT RECOMMENDED)</button>
{% endif %}

{{ render_form(form) }}
Other rule versions:
<a href="/rule/{{ rule['rid'] }}">latest</a><br>
{% if revision_list | length >= 2 %}
    <a href="/rule/{{ rule['rid'] }}/timeline">visualise changes</a><br>
{% endif %}
{% for rev in revision_list %}
    <a href="/rule/{{ rule['rid'] }}/{{ rev.revision_number }}">Revision {{ rev.revision_number }} created
        at {{ rev.created.strftime('%Y-%m-%d %H:%M:%S') }}</a> <br>
{% endfor %}
</body>
{% endblock %}