<head>
    <script src="{{ url_for('static', filename="scripts.js") }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeTabCapture("{{ form.logic.id }}");
        });
    </script>
    <title>Rule {{ rule['rid'] }}</title>
</head>
{% from 'bootstrap5/form.html' import render_form %}
<a href="/rules">Full rule list</a><br>
{% block title %}
    Create a new rule
{% endblock %}

{% block content %}
    {{ render_form(form) }}
    Other rule versions:
    <a href="/rule/{{ rule['rid'] }}">latest</a><br>
    {% if revision_list | length >= 2 %}
        <a href="/rule/{{ rule['rid'] }}/timeline">visualise changes</a><br>
    {% endif %}
    {% for rev in revision_list %}
        <a href="/rule/{{ rule['rid'] }}/{{ rev.revision_number }}">Revision {{ rev.revision_number }} created
            at {{ rev.created.strftime('%Y-%m-%d %H:%M:%S') }}</a> <br>
    {% endfor %}
{% endblock %}